/* ***** NAVBAR ***** */

.logo {
    padding: 5px;
    height: 60px;
}

.binNav{
    background-color: #f1efee;
}

.binNav-item {
    color: #464646 !important;
    font-size: 150%;
}

.binNav-item:hover,
.binNav-item:focus {
    color: #464646 !important;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #464646 !important;
}

.navbar-brand {
    color: #464646 !important;
    font-size: 200%;
}

/* ***** NAVBAR ***** */
.home-page{
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: white;

}
.input-group-seach{
    margin-top: 50px;
}

.img-sports{
    max-height: 30vh ;
    max-width: 30vh;
}